body {
  text-align: center;
  background-color: #011F3F;
}

.instructions{
  text-align: justify;
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  margin:  2.5%;
  color: #DAE5D0;
}

li{
  margin: 1%;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-btn{
  margin-top: 12px;
  margin-bottom:12px;
  padding: 8px;
  border-radius: 15px;
  width: 300px;
  font-size: 25px;
  background-color: beige;
}

.start-btn:hover{
  background-color: rgb(152, 228, 241);
}

.start-btn-remove{
  visibility:hidden;
}
